h1 {
  text-align: center;
  font-family: sans-serif;
}

#game-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  aspect-ratio: 1 / 1;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.top-row {
  border-top: 1px solid black;
}

.left-column {
  border-left: 1px solid black;
}

.letter-box {
  position: relative;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 3.5rem;
  font-weight: 500;
  flex: 1 1 20%; /* Flex basis to allow for resizing */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

.letter-row {
  display: flex;
  flex: 1 1 20%; /* Flex basis to allow for resizing */
  width: 100%;
}

.black-box {
  background-color: black;
}

.primary-selection {
  background-color: yellow;
}

.secondary-selection {
  background-color: aqua;
}

#current-clue {
  background-color: aqua;
  height: 50px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

#previous-clue {
  width: 5vw;
  margin-left: 5px;
}

#next-clue {
  width: 5vw;
  margin-right: 5px;
}

#clue-text {
  width: 90vw;
  font-size: large;
  margin: 5px;
}

.box-number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 16px;
  color: black;
}

#keyboard-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  padding-top: 10px;
  padding-bottom: 10px;
}

#keyboard-cont div {
  display: flex;
}

.first-row {
  display: flex;
  width: 100vw;
  height: 40px;
  justify-content: center;
}

.second-row {
  display: flex;
  width: 90vw;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.third-row {
  display: flex;
  width: 85vw;
  height: 40px;
  justify-content: center;
}

.keyboard-button {
  background-color: white;
  font-size: 1rem;
  font-weight: 400;
  /* padding: 0.5rem; */
  margin: 0 4px;
  cursor: pointer;
  text-transform: uppercase;
  flex: 1;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.back-button:focus {
  outline: none;
}
