h1 {
  text-align: center;
  font-family: sans-serif;
 }

 #game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: sans-serif;
  margin: 0px;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

#keyboard-cont div {
  display: flex;
}

.first-row {
  display: flex;
  width: 100vw;
  height: 40px;
  justify-content: center;
}

.second-row {
  display: flex;
  width: 90vw;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.third-row {
  display: flex;
  width: 85vw;
  height: 40px;
  justify-content: center;
}

.keyboard-button {
  font-weight: 400;
  font-size: large;
  margin: 0 4px;
  cursor: pointer;
  text-transform: uppercase;
  flex: 1;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.back-button:focus {
  outline: none;
}